.allProduct {
    flex: 0.1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
}

.productshow {
    width: 90%;
    padding-left: 5%;
}

.addItem {
    background-color: blue;
    width: 30%;
    align-self: center;
    margin: 15; 
    border-radius: 25px;
    transition: 0.3s all;
}

.addItem:hover {
    background-color: lightblue;
}

.quantity {
    justify-content: center;
    display: flex;
    flex-direction: row;
}